<%= link_to "Bike Index", "/bikes" %>
<%= link_to "Shop Index", "/shops" %>
<%= link_to "New Shop", "/shops/new" %>

<h1>Shops</h1>
<% @shops.each do |shop| %>
<p><h3>Name: <%= shop.name %></h3></p>
<p><h3>Created at: <%= shop.created_at %></h3> <%= button_to "Edit #{shop.name}", "/shops/#{shop.id}/edit", method: :get %> 
<%= button_to "Delete #{shop.name}", "/shops/#{shop.id}", method: :delete  %></p>
  <% end %>