<%= link_to "Bike Index", "/bikes" %>
<%= link_to "Shop Index", "/shops" %>
<%= link_to "New Shop", "/shops/new" %>


<h1>Shops</h1>
<% ordered_shops = @shops.order("created_at DESC") %>
<% ordered_shops.each do |shop| %>
<p><%= shop.name %>: <%= shop.created_at %> <%= button_to "Edit #{shop.name}", "/shops/#{shop.id}/edit", method: :get %></p>
  <% end %>