<%= link_to "Bike Index", "/bikes" %>
<%= link_to "Shop Index", "/shops" %>

<h1><%=@shop.name%></h1>
<p>Id: <%=@shop.id%></p>
<p>Rank: <%=@shop.rank%></p>
<p>Rentals: <%=@shop.rentals%></p>
<p>Created_at: <%=@shop.created_at%></p>
<p>Updated_at: <%=@shop.updated_at%></p>
<p>Number of bikes: <%=@shop.bikes.count%></p>
