<%= link_to "Bike Index", "/bikes" %>
<%= link_to "Shop Index", "/shops" %>
<%= link_to "Bikes At This Shop", "/shops/#{@shop.id}/bikes" %>
<%= link_to "Update Shop", "/shops/#{@shop.id}/edit" %>

<h1><%=@shop.name%> <%= button_to "Delete", "/shops/#{@shop.id}", method: :delete  %></h1>
<p>Id: <%=@shop.id%></p>
<p>Rank: <%=@shop.rank%></p>
<p>Rentals: <%=@shop.rentals%></p>
<p>Created_at: <%=@shop.created_at%></p>
<p>Updated_at: <%=@shop.updated_at%></p>
<p>Number of bikes: <%=@shop.bikes.count%></p>
