<%= link_to "Bike Index", "/bikes" %>
<%= link_to "Shop Index", "/shops" %>
<%= link_to "Add New Bike for #{@shop.name}", "/shops/#{@shop.id}/bikes/new" %>
<%= link_to "Sort Bikes Alphabetically", "/shops/#{@shop.id}/bikes" %>

<%= form_with url: "/shops/#{@shop.id}/bikes", method: :get, local: true do |form| %>

<%= form.label :input_number %>
<%= form.text_field :input_number %>

<%= form.submit 'Only return records with more than (input number)mm of travel length' %>
<% end %>

<%@bikes.each do |bike|%>

  <h1><%=bike.name%> <%= button_to "Delete #{bike.name}", "/bikes/#{bike.id}", method: :delete  %> </h1>
  <p><%=bike.full_suspension%></p>
  <p><%=bike.travel_length%></p>
  <p><%=bike.shop_id%></p>
  <p><%=bike.created_at%></p>
  <p><%=bike.updated_at%></p>
<%end%>
